@model List<Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@Html.ActionLink("New", "New", "Customers", new { @class="btn btn-default"})
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Discount Rate</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</td>
                <td>@customer.MembershipType.Description</td>
                <td>@Html.ActionLink("Edit", "Edit", "Customers", new { id = customer.Id }, null)</td>
            </tr>
         }

    </tbody>
</table>


